h1, div{
    text-align: center;
}

.btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px;
    color: white;
}

.btn:hover {
    border-color: white;
}

.bg-red {
    background-color: red;
}

.bg-black {
    background-color: black;
}

.bg-green {
    background-color: green;
}

.counter {
    width: 100px;
    background: grey;
    font-size: 30px;
    padding: 10px;
    margin: auto;
    border-radius: 6px;
    margin-bottom: 30px;
    margin-top: 30px;
}

h3 {
    background-color: red;
    color: white;
}

.signal-outer-wrapper {
    display: inline;
    margin-left: 42%;
}
.signal-btn {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    background: cornflowerblue;
    font-size: 6vh;
}
.signal-display {
    display: inline-block;
    width: 100px;
    background: gray;
    padding: 7px;
    border-radius: 5px;
    margin: 0px 20px;
    font-weight: bold;
    font-size: 6vh;
}
.signal-btn:hover {
    border: 1px solid grey;
    color: black;
}