<!-- <h1>Counter App</h1>

<div>
  <h2 class="counter">{{ count }}</h2>
  <div>
    <button class="btn bg-red" (click)="handleCounter('increment')">Increment</button>
    <button class="btn bg-black" (click)="handleCounter('reset')">Reset</button>
    <button class="btn bg-green" (click)="handleCounter('decrement')">Decrement</button>
  </div>
</div> -->

<!-- <h2>Click event</h2>
<button class="btn-click-event" name="click-event-button" (click)="handleEvent($event)">Click event</button>

<h2>Mouse enter event</h2>
<div style="background-color: green; width: 100px; height: 100px;" (mouseenter)="handleEvent($event)"></div>

<h2>Mouse leave event</h2>
<div style="background-color: purple; width: 100px; height: 100px;" (mouseleave)="handleEvent($event)"></div>

<h2>Input, focus, blur event</h2>
<input type="text" name="name" placeholder="Enter your name" (input)="handleInputEvent($event)" (focus)="handleInputEvent($event)" (blur)="handleInputEvent($event)"> -->

<!-- <h2>Get and Set input field value</h2>

<h3>First name: {{ displayFirstName }}</h3>
<h3>Last name: {{ displayLastName }}</h3>
<input type="text" name="firstname" id="firstname" placeholder="Enter the first name" (input)="inputFirstName($event)" value="{{firstname}}">
<br><br>
<input type="text" name="lastname" id="lastname" placeholder="Enter the last name" value="{{lastname}}" #lastName>
<br><br>
<button (click)="getValue()">Get Value(first name)</button>
<button (click)="setValue()">Set Value(first name)</button>
<br><br>
<button (click)="getValueNew(lastName.value)">Get Value(last name) using reference variable</button>
<button (click)="setValueNew()">Set Value(last name) using reference variable</button> -->

Style Option - Component style
<h3>This line has style using component css file</h3>

Style Option - Global style
<div class="global-div">
  This line has style using component css file
</div>
<br>