<!-- <h1>Counter App</h1>

<div>
  <h2 class="counter">{{ count }}</h2>
  <div>
    <button class="btn bg-red" (click)="handleCounter('increment')">Increment</button>
    <button class="btn bg-black" (click)="handleCounter('reset')">Reset</button>
    <button class="btn bg-green" (click)="handleCounter('decrement')">Decrement</button>
  </div>
</div> -->

<!-- <h2>Click event</h2>
<button class="btn-click-event" name="click-event-button" (click)="handleEvent($event)">Click event</button>

<h2>Mouse enter event</h2>
<div style="background-color: green; width: 100px; height: 100px;" (mouseenter)="handleEvent($event)"></div>

<h2>Mouse leave event</h2>
<div style="background-color: purple; width: 100px; height: 100px;" (mouseleave)="handleEvent($event)"></div>

<h2>Input, focus, blur event</h2>
<input type="text" name="name" placeholder="Enter your name" (input)="handleInputEvent($event)" (focus)="handleInputEvent($event)" (blur)="handleInputEvent($event)"> -->

<!-- <h2>Get and Set input field value</h2>

<h3>First name: {{ displayFirstName }}</h3>
<h3>Last name: {{ displayLastName }}</h3>
<input type="text" name="firstname" id="firstname" placeholder="Enter the first name" (input)="inputFirstName($event)" value="{{firstname}}">
<br><br>
<input type="text" name="lastname" id="lastname" placeholder="Enter the last name" value="{{lastname}}" #lastName>
<br><br>
<button (click)="getValue()">Get Value(first name)</button>
<button (click)="setValue()">Set Value(first name)</button>
<br><br>
<button (click)="getValueNew(lastName.value)">Get Value(last name) using reference variable</button>
<button (click)="setValueNew()">Set Value(last name) using reference variable</button> -->

<!-- Style Option - Component style
<h3>This line has style using component css file</h3>

Style Option - Global style
<div class="global-div">
  This line has style using component css file
</div>
<br>

Style Option - Internal style
<style>
  .span-class {
    font-size: 20px;
    border: 2px solid green;
  }
</style>
<br>
<span class="span-class">This line has style using internal css</span>
<br><br>

Style Option - Inline style
<br>
<span style="font-size: 15px; color: white; background-color: maroon;">This line has style using inline css</span>
<br><br>

Style Option - component.ts style
<br>
<span class="component-ts-span-class">This line has style using component.ts style</span>
<br><br> -->

<!-- <h1>If-Else | Control flow statement</h1>

<div style="height: 180px;">
  <button (click)="showDiv()">Show Div</button>
  <button (click)="hideDiv()">Hide Div</button>
  <button (click)="toggleDiv()">Toggle Div</button>
  @if(displayDiv) {
    <div style="background-color: blue; height: 150px; width: 150px; margin: auto; margin-top: 10px;"></div>
  }
</div>

<div>
  <button style="margin-top: 30px;" (click)="toggleDivs()">{{ displayRedDiv ? 'Show green div' : 'Show red div' }}</button>
  @if(displayRedDiv) {
    <div style="background-color: red; height: 150px; width: 150px; margin: auto; margin-top: 10px;"></div>
  } @else {
    <div style="background-color: green; height: 150px; width: 150px; margin: auto; margin-top: 10px;"></div>
  }
</div> -->

<!-- <h1>Else-If ladder | Control flow statement</h1>

<div>
  <button (click)="changeColor('red')">Red Color</button>
  <button (click)="changeColor('blue')">Blue Color</button>
  <button (click)="changeColor('green')">Green Color</button>
  <button (click)="changeColor('black')">Other</button>
  @if(color == 'red') {
    <div style="background-color: red; height: 150px; width: 150px; margin: auto; margin-top: 10px;"></div>
  }
  @else if(color == 'blue') {
    <div style="background-color: blue; height: 150px; width: 150px; margin: auto; margin-top: 10px;"></div>
  }
  @else if(color == 'green') {
    <div style="background-color: green; height: 150px; width: 150px; margin: auto; margin-top: 10px;"></div>
  }
  @else {
    <div style="background-color: black; height: 150px; width: 150px; margin: auto; margin-top: 10px;"></div>
  }
  
</div> -->


<!-- <h1>Switch case | Control flow statement</h1>

<style>
  .switch-btn {
    width: 100px; 
    height: 30px; 
    border: 2px solid; 
    border-radius: 25px; 
    color: white;
  }
  .switch-btn:hover {
    border-color: gray;
  }
  .switch-div {
    height: 150px; 
    width: 150px; 
    margin: auto; 
    margin-top: 10px;
  }
</style>

<div>
  <button class="switch-btn" (click)="changeColor('red')" style="background-color: red;">Red Color</button>
  <button class="switch-btn" (click)="changeColor('blue')" style="background-color: blue;">Blue Color</button>
  <button class="switch-btn" (click)="changeColor('green')" style="background-color: green;">Green Color</button>
  <button class="switch-btn" (click)="changeColor('black')" style="background-color: black;">Other</button>

  @switch(color) {
    @case('red') {
      <div class="switch-div" style="background-color: red;"></div>
    }
    @case('blue') {
      <div class="switch-div" style="background-color: blue;"></div>
    }
    @case('green') {
      <div class="switch-div" style="background-color: green;"></div>
    }
    @default {
      <div class="switch-div" style="background-color: black;"></div>
    }
  }
</div> -->

<!-- @for(user of users; track user) {
  <h3>{{user}}</h3>
}

@for(student of students; track student.name; let id=$index) {
  <h3>ID: {{id}}    <br>Name: {{student.name}}    <br>Age: {{student.age}}    <br>Email: {{student.email}}</h3>
} -->

<!-- <h1>Signal in angular</h1>

<h2>Signal value: {{counter()}}</h2>
<h2>Property value: {{x}}</h2>

<button (click)="updateSignalValue()">Change signal value</button>
<button (click)="updatePropertyValue()">Change property value</button> -->

<!-- <h1>Signal Counter App in angular</h1>

<div class="signal-outer-wrapper">
  <button class="signal-btn" (click)="updateSignalValue('+')">+</button>
  <div class="signal-display">{{counter()}}</div>
  <button class="signal-btn" (click)="updateSignalValue('-')">-</button>
</div> -->

<!-- <button (click)="updateSignal()">Update signal</button> -->

<!-- <h1>for loop contextual variables</h1>

@for(user of users_new; track user) {
  <h3>{{user}}</h3>
} -->

<!-- <h1>Two way binding in angular</h1>

<input type="text" name="student_name" id="student_name" placeholder="Enter the student name" [(ngModel)]="student_name">
<h2>{{student_name}}</h2>


<h1>Two way binding without using ngModel in angular</h1>
<input type="text" name="student_name_2" id="student_name_2" placeholder="Enter the student name 2" (input)="updateStudentName($event)">
<h2>{{student_name_2}}</h2> -->

<!-- <h1>To-do App in angular</h1>

<div>
  <input class="todo-input-wrapper" type="text" name="task" id="task" placeholder="Enter the task" [(ngModel)]="task">
  <button class="todo-btn todo-create-btn" (click)="createTask()">Create Task</button>

  @if(taskList.length != 0) {
    <ul class="todo-ul-wrapper todo-list-header">
      <li>Task ID</li>
      <li>Task Title</li>
      <li>Action</li>
    </ul>
  }
  @for(item of taskList; track item.id) {
    <ul class="todo-ul-wrapper">
      <li>{{item.id}}</li>
      <li>{{item.task}}</li>
      <li><button class="todo-btn todo-delete-btn" (click)="deleteTask(item.id)">Delete</button></li>
    </ul>
  }
</div> -->


<!-- <h1>ngIf directive in angular</h1>

<h1 *ngIf="is_monday else elseBlock">Today is monday</h1>

<ng-template #elseBlock>
  <h1>Today is not monday</h1>
</ng-template> -->