<!-- <h1>Counter App</h1>

<div>
  <h2 class="counter">{{ count }}</h2>
  <div>
    <button class="btn bg-red" (click)="handleCounter('increment')">Increment</button>
    <button class="btn bg-black" (click)="handleCounter('reset')">Reset</button>
    <button class="btn bg-green" (click)="handleCounter('decrement')">Decrement</button>
  </div>
</div> -->

<h2>Click event</h2>
<button class="btn-click-event" name="click-event-button" (click)="handleEvent($event)">Click event</button>

<h2>Mouse enter event</h2>
<div style="background-color: green; width: 100px; height: 100px;" (mouseenter)="handleEvent($event)"></div>

<h2>Mouse leave event</h2>
<div style="background-color: purple; width: 100px; height: 100px;" (mouseleave)="handleEvent($event)"></div>